<!--
@author: Anant Bhardwaj
@date: Feb 12, 2012

Confer Login/Register Template Layout
-->

<html>

<head>
<title>6.885 -- Leaderboard</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<link href="/static/css/third-party/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
<script type="text/javascript" src="/static/javascript/third-party/jquery-ui.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>

<div id="header">
	<div id="wrap">
		<span id="headlink-left">
			<a id="logo" href="/">6.855 Fall 2013</a>
		</span>
		<span id="headlink-right">
      {% block links %}

      {% endblock %}
		</span>
	</div>
	</div>

<body>
	<div id="page">
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
	</div>


</body>
</html>